
:root, :host {
  --font-family: 'Montserrat', sans-serif;
  --navbar-color: hsl(0, 100%, 50%);
  --navbar-border-color: hsl(0, 99%, 34%);

  --sidebar-hover-color: rgb(170, 204, 255);
  --sidebar-button-hover-color: rgb(137, 184, 255);
  --sidebar-active-color: blue;
  --sidebar-background-color: rgb(245, 245, 245);

  --card-background: rgb(245, 245, 245);
  --card-box-shadow: rgba(11, 20, 26, 0.13) 0px 1px 0.5px 0px;
  --link-color: hsl(211, 100%, 50%);
}

@font-face {
  font-family: 'Montserrat';
  src: URL('../fonts/Montserrat-Regular.ttf') format('truetype');
}

html * {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
}

a {
  color: var(--link-color);
}

.app-cnt {
  display: grid;
  grid-template-rows: 60px calc(100vh - (60px + 100px)) 100px;
  grid-template-columns: 180px 1fr;
}

borg-navbar {
  background-color: var(--navbar-color);
  color: white;
  grid-row: 1;
  padding: 20px;
  border-bottom: 4px solid var(--navbar-border-color);
  grid-column: 1 / 3;
}

.borg-navbar ul {
  list-style-type: none;
}

.borg-navbar li {
  display: inline;
}

.view-button {
  padding: 16px;
}

.view-button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.view-button.active {
  border-bottom: 6px solid white;
}

borg-sidebar {
  overflow: auto;
  resize: horizontal;
  font-size: 14px;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
  overflow-y: scroll;
  height: calc(100vh - 63.5px);
  background-color: var(--sidebar-background-color);
}

.sidebar-heading {
  font-size: 14px;
  font-weight: bold;
}

borg-sidebar::-webkit-scrollbar {
  display: none;
}

.borg-database {
  display: grid;
  grid-template-columns: 4fr 1fr;
  cursor: pointer;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.borg-database.active {
  background-color: var(--sidebar-button-hover-color);
}

.database-name {
  grid-column-start: 1;
  padding: 20px;
}

.database-settings {
  grid-column-start: 2;
  padding: 20px;
}

.database-name:hover, .database-settings:hover {
  background-color: var(--sidebar-button-hover-color);
}

.borg-database:hover {
  background-color: var(--sidebar-hover-color);
}

.borg-database ul {
  list-style-type: none;
}

.borg-database-add {
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.borg-database-add.active {
  background-color: var(--sidebar-button-hover-color);
}

.borg-database-add:hover {
  background-color: var(--sidebar-button-hover-color);
}

.borg-add-card-section {
  background-color: white;
}

.borg-show-card-section {
  grid-row-start: 3;
  background-color: green;
}

.machine-settings {
  font-size: 1.75em;
}

borg-add-database-page {
  display: block;
  padding: 80px 40px;
}

h3 {
  margin-top: 20px;
}

.borg-input {
  font-size: 16px;
  padding: 5px;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid black;
  width: 100%;
}

.borg-input-narrow {
  min-width: 200px;
  max-width: 250px;
}

.borg-input-cnt {
  margin-bottom: 10px;
}

.submit-button {
  display: block;
  float: left;
  font-size: 1.2em;
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 180px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cards {
  list-style: none;
}

.card {
  display: inline-block;
  background: var(--card-background);
  margin: 20px;
  padding: 15px 15px 10px 15px;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
}

.date-summary {
  display: inline-block;
  background: rgb(86, 117, 255);
  color: white;
  margin: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 10%;
  box-shadow: var(--card-box-shadow);
}

.card-date {
  float: right;
}

borg-view-database-page {
  display: grid;
  grid-row: 2 / 4;
  grid-template-rows: 50px auto 80px;
  grid-template-columns: 1fr;
}

borg-cards-panel {
  overflow-y: scroll;
  grid-row: 2 / 3;
  grid-column: 1;
  height: 100%;
}

borg-search-bar {
  grid-row: 1 / 2;
  grid-column: 1;
  background-color: var(--sidebar-background-color);
  padding: 10px;
}

borg-card-input {
  grid-row: 3 / 3;
  grid-column: 1;
  background-color: var(--sidebar-background-color);
  padding: 20px;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
}

#bookmark-url {
  width: 100%;
  max-width: 999px;
  grid-column: 1 / 1;
}

#submit-bookmark {
  grid-column: 2 / 2;
}
