

@font-face {
  font-family: 'Montserrat';
  src: URL('../fonts/Montserrat-Regular.ttf') format('truetype');
}


html * {
  margin: 0;
  padding: 0;
}

html {
  font-family: Montserrat;
}

.app-cnt {
  display: grid;
  grid-template-rows: auto auto 200px;
  grid-template-columns: 300px 1fr;
}

borg-navbar {
  background-color: red;
  color: white;
  grid-row: 1;
  padding: 20px;
  border-bottom: 4px solid hsl(0, 99%, 34%);
  grid-column-start: 1;
  grid-column-end: 3;
}

.borg-navbar ul {
  list-style-type: none;
}

.borg-navbar li {
  display: inline;
}

.view-button {
  padding: 20px;
}

.view-button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.view-button-active {
  border-bottom: 4px solid white;
}


borg-sidebar {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
  overflow-y: scroll;
  height: calc(100vh - 63.5px);
}

.borg-database {
  cursor: pointer;
  border-bottom: 1px solid rgb(242, 242, 242);
  padding: 20px;
}

.borg-database:hover {
  background-color: rgb(242, 242, 242);
}

.borg-database ul {
  list-style-type: none;
}

.borg-database-add {
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.borg-database-add:hover {
  background-color: rgb(242, 242, 242);
}

main {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: white;
  height: 100%;
}

.borg-add-card-section {
  grid-row-start: 2;
  background-color: white;
}

.borg-show-card-section {
  grid-row-start: 3;
  background-color: green;
}

.machine-settings {
  font-size: 1.75em;
}

borg-add-database-page {
  display: block;
  padding: 80px 40px;
}

h3 {
  margin-top: 20px;
}

.borg-input {
  font-size: 1em;
  padding: 5px;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid black;
  min-width: 200px;
  max-width: 250px;
  width: 100%;
}

.borg-input-cnt {
  margin-bottom: 10px;
}
