
/*
 * Add Database Panels
 *
 */
borg-add-database-page, borg-add-concept-page {
  display: block;
  padding: 40px;
  padding: 60px 13%;
}

borg-add-database-page h2, borg-add-concept-page h2 {
  margin-bottom: 20px;
  border-bottom: 2px solid var(--h2-border-color);
  max-width: 300px;

}

.divider {
  display: block;
  padding: 10px 0;
}

borg-add-database-page h3, borg-add-concept-page h3 {
  margin-bottom: 20px;
}

borg-log-entry {
  display: flex;
}

/*
 * Logs
 *
 */
.log-panel {
  margin: 20px 0px;
  background-color: var(--log-panel-background-color);
  max-height: 500px;
  color: var(--log-panel-color);
}

.log-panel-cnt {
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.log-panel-cnt:hover {
  background-color: var(--sidebar-button-hover-color);
}

.log-time {
  color: var(--log-time-color);
}

summary h3 {
  display: inline;
}