
:root {
  --navbar-font-colour: white;
  --navbar-background-colour: red;
  --navbar-border-colour: rgb(172, 1, 1);
  --font-colour: #323232;
  --input-border: black;

    /* default button colours */
    --button-default-background-colour: #3385ff;
    --button-default-hover-background-colour: #245bad;

    /* ok button colours */
  --button-ok-background-colour: #22ff00;
  --button-ok-hover-background-colour: #1bce00;

    /* error button colours */
  --button-error-background-colour: red;
  --button-error-hover-background-colour: rgb(181, 0, 0);

    /* unauthorized button colours */
  --button-unauthorized-background-colour: rgb(137, 137, 137);
  --button-unauthorized-hover-background-colour: black;

  /* button text colours */
  --button-error-colour: white;
  --button-unauthorized-colour: white;
  --button-ok-colour: #171e29;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}


html * {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.brand {
  font-size: 1.3em;
}

form {
  display: inline-block;
  font-size: 1.2em;
  width: 100%;
  max-width: 500px;
}

label {
  float: left;
  padding-left: 0px;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-colour);
}

.navbar {
  color: var(--navbar-font-colour);
  background-color: var(--navbar-background-colour);
  border-bottom: 4px solid var(--navbar-border-colour);
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  padding: 15px;
}

main {
  padding: 80px 40px;
  text-align: center;
}

.borg-input {
  font-size: 1em;
  padding: 5px;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  min-width: 200px;
  width: 100%;
}

.borg-url-input-cnt {
  display: grid;
  grid-template-columns: 9fr 1fr;
  column-gap: 20px;
}

.button-58 {
  display: block;
  float: left;
  font-size: 1.2em;
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-58:active {
  background-color: var(--button-default-background-colour);
  border-color: var(--button-default-background-colour);
  fill: var(--button-default-background-colour);
}

.button-58:hover {
  background-color: --button-default-hover-background-colour;
  border-color: --button-default-hover-background-colour;
  fill: --button-default-hover-background-colour;
}

.button-ok {
  background-color: var(--button-ok-background-colour);
  border-color: var(--button-ok-background-colour);
  color: var(--button-ok-colour);
}

.button-ok:hover {
  background-color: var(--button-ok-hover-background-colour);
  border-color: var(--button-ok-hover-background-colour);
  fill: var(--button-ok-hover-background-colour);
}

.button-error {
  background-color: var(--button-error-background-colour);
  border-color: var(--button-error-background-colour);
  color: var(--button-error-colour);
}

.button-error:hover {
  background-color: var(--button-error-hover-background-colour);
  border-color: var(--button-error-hover-background-colour);
  fill: var(--button-error-hover-background-colour);
}

.button-unauthorized {
  background-color: var(--button-unauthorized-background-colour);
  border-color: var(--button-unauthorized-background-colour);
  color: var(--button-unauthorized-colour);
}

.button-unauthorized:hover {
  background-color: var(--button-unauthorized-hover-background-colour);
  border-color: var(--button-unauthorized-hover-background-colour);
  fill: var(--button-unauthorized-hover-background-colour);
}

footer {
  border-top: 1px solid rgba(0,0,0,.12);
  padding: 16px 0;
  text-align: center;
}

